body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0 auto 60px;
    color: $cAnthracite1;
    background-color: $cWhite2;
}

.container {
    max-width: s($ws_sGridzTotalWidth);
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main {
    padding: s(35) s(45);
    width: col(21, 26);
    border-radius: 6px;
    background: $cWhite;
    margin-top: s(-123);
    float: left;
    margin-bottom: s(60);
}

.sro {
    @include hidden();
}

a {
    cursor: pointer;
}

*:focus {
    outline: none;
}