.tabs {

    &__link {
        padding: 10px 15px;
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 3px;
        text-decoration: none;
        color: black;
        text-align: center;
        position: relative;
        min-width: 100px;
        margin-bottom: s(45);

        &--active {
            font-weight: 700;
        }
    }

    &__item {
        display: none;
        @include clearfix();

        &--active {
            display: block;
        }
    }
}