$cWhite: #FFFFFF;
$cWhite1: #FCFBFB;
$cWhite2: #F1F1F1;
$cWhite3: #ECECEC;
$cWhite4: #F3F6F6;
$cWhite5: #DFE5E5;
$cWhite6: #C8C9CE;
$cWhite7: #F9FAFA;

$cAccent: #C25040;
$cAccentDarker1: darken($cAccent, 4);
$cAccentDarker2: darken($cAccent, 8);

$cGray: #919B9B;
$cGray2: #7B8181;

$cAnthracite1: #485151;
$cAnthracite2: #3F4444;
$cAnthracite3: #2B3131;

$cBlue: #2294E2;